.applications_count{
    border:1px solid rgb(204, 201, 201);
    font-size: 22px;
}
.content{
    background-color: #fff;
    border:1px solid rgb(217, 221, 228);
    border-radius: 2px;
    padding: 20px;
}
.application{
    padding: 12px;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 2px;
    background-color: rgb(252, 252, 252);
    margin-bottom: 20px;
    position: relative;
}
.status{
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(218, 11, 11);
    color: white;
}
.change-status{
    font-size: 18px;
    border-radius: 0;
    font-weight: 500;
}
.user-name{
    font-size: 20px;
    color: black;
}