body{
    background-color:#EDEDED;
}
.error{
    border: 1px solid red;

}
.text-error{
    color: red;
}

.logo{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.bord{
    border: 1px solid rgb(211, 186, 186);
}

.user-image{
    width: 50px;
    height:50px;
    border-radius:50%;
}

.underline
{
    text-decoration: underline;
}
