body{
    background-color:#EDEDED;
}

.error{
    border: 1px solid red;

}

.text-error{
    color: red;
}
input[type="file"] {  
    display: none;  
    
}  
.custom-file-upload {  
    border: 1px solid #ccc;  
    display: block;  
    padding: 6px 12px;  
    cursor: pointer;  
     background-color: rgb(238, 238, 235);  
} 

.logo{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.bord{
    border: 1px solid rgb(211, 186, 186);
}

.user-image{
    width: 50px;
    height:50px;
    border-radius:50%;
}

.underline
{
    text-decoration: underline;
}
.icon {
    padding: 10px;
    background:gray;
    /* background:#3490dc; */
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .data-table-responsiv{
      width: 100%;
      overflow-x:auto;
  }

/* .main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.card
{
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 5px;
	color:#545454;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
    box-shadow: 0 1px 2px 1px #ddd;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.site-name
{
    font-size: 54px;
}
.lab
{
    margin-left: 53px;
} */
