.message-container{
    background-color: white;
}
.content{
    border-radius: 2px;
    padding: 20px;
}
.message{
    padding: 12px;
    border: 1px solid rgb(235, 237, 240);
    border-radius: 2px;
    background-color: rgb(252, 252, 252);
    width: 55%;
    margin: auto;
    color: rgb(97, 97, 97);
}
.email{
    font-weight: 500;
}
.fa-trash-alt{
    color: red;
    cursor: pointer;
    font-size: 20px;
}
.delete , .view{
    background-color: rgb(252, 252, 252);
    border: none;
}
.fa-eye,.fa-eye-slash{
    color:green;
    font-size: 20px;
}
.message_content{
    padding: 10px;
    background-color: rgb(255, 254, 254) ;
    word-spacing: 2px;
    box-shadow:rgba(0, 0, 0, 0.14) 0px 3px 4px 0px;
    color: rgb(148, 144, 144);
}