:root {
    --footer-height: 2.5rem;
}

body{
    background-color: #F5F6F7;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: calc(var(--footer-height) + 15px);
    padding-top: 65px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #272b34;
    color: #e6e6e6;
    text-align: center;
    padding: 7px;
}
