.application-text{
    border-bottom:2px solid blue;
    font-size: 15px;
}
.active-application{
    border:3px solid rgb(0, 85, 217 , 0.2);
    border-radius: 5px;
}
.application{
    border: 1px solid rgb(217, 221, 228);
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 30px!important;
}
.logo{
    right: 40px;
    top: 40px;
}

.status{
    top: 0;
    left:0;
    background-color: rgb(218, 11, 11);
    color: white;
    text-align: center;
    border-radius: 2px;
    font-weight: 600;
}
.apply , .other-state , .view{
    color: white;
    font-weight: 600;
    border-radius: 2px;
    text-align: center;
}
.apply{
    color: rgb(206, 214, 211);
}
.in-consideration{
    color: rgb(44, 146, 102);
}

.job-title{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}
.address , .company , .job-city ,.country{
    font-size: 12px;
    font-weight: 600;
}
.address , .job-city{
    color:rgb(77, 97, 130);
}
.country{
    font-size: 16px;
}
.pivot-status{
    padding: 16px 0;
}
.job-status{
    color:rgb(77, 97, 130);
}
.status-text{
    margin-bottom: 2px;
}
.point{
    background-color: rgb(204, 210, 219);
    width: 4px;
    height: 4px;
    border-radius: 2px;
}
.line{
    width: 150px;
    height: 2px;
    background-color: rgb(204, 210, 219);
}
.applied .point{
    background-color: royalblue;
}
.point-access{
    background-color: royalblue;
}

.active-line{
    background-color: royalblue;
}
.active-point{
    background-color: royalblue;
    width:8px;
    height: 8px;
    border-radius: 4px;
}
.applications_count-container{
    background-color: white;
    min-height: 251px;
    border:3px solid rgb(0, 85, 217 , 0.2);
}
.job-date{
    color: rgb(77, 97, 130);
    font-size: 14px;
    font-weight: 600;
}
.applicants-count li{
    padding: 0 6px;
}
.job-city{
    font-size: 16px;
}
@media screen and (max-width: 600px) {

    .job_title{
        font-size: medium;
    }
    .job-city , .country{
        font-size: 12px;
    }
    .line{
        /* width: 20px; */
    }
  }
  @media screen and (max-width: 798px) {
    .line{
        width: 100px;
    }
  }
