:root {
    --footer-height: 2.5rem;
    --primary-bg-color: #f0f0f0;
    --primary-btn-color: rgb(52, 200, 253);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-top: 65px;
    padding-bottom: calc(var(--footer-height) + 15px);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #272b34;
    color: #e6e6e6;
    text-align: center;
    padding: 7px;
}

.input-group-prepend{
    width: 5%;
}

/* Edit number section */
#edit-number-input-container, #new-number-input-container, #form-action-controller, #phone-edit-btn, #add-new-phone{
    display: none;
}

/* Edit Control section */

.edit-section div:first-of-type div.icon-content-container {
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.edit-section div:first-of-type div.icon-content-container {
    transition: border 0.25s;
}

.edit-section div:first-of-type div.icon-content-container i {
    font-size: 2em;
    transition: color 0.25s;
}

#company-edit-links, #company-edit-phones {
    border-bottom: 2px solid rgb(73, 75, 87);
}

#company-edit-links i, #company-edit-phones i{
    color: rgb(73, 75, 87);
}

#company-edit-profile {
    border-bottom: 2px solid rgb(52, 200, 253);
}

#company-edit-profile i{
    color: rgb(52, 200, 253);
}
.custom-select {
    font-size: initial !important;
}
/* company dashboard */
.admin-card {
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: var(--sidebar-secondary-bg-color) !important;
  }

  .admin-card-text {
    font-size: 1.5rem;
  }

  .admin-card-body {
    color: #343a40;
  }
  .admin-card-footer{
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.08);
    border-top: 1px solid rgba(151, 78, 78, 0.125);
    transition: color 0.3s;
    color: #343a40;
  }

  a.admin-card-footer:hover {
    text-decoration: none;
    color: rgb(19, 116, 116) !important;
  }

  .card-body-icon {
    font-size: 3.5rem;
    transition: all  0.4s;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  .admin-card:hover .card-body-icon{
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .admin-cards{
      background-color: rgb(193, 223, 212);
  }
/* Media queries*/
@media (max-width: 575.98px){
    .input-group-prepend{
        width: 20%;
    }
}

@media (max-width: 767.98px){
    .input-group-prepend{
        width: 10%;
    }
}

@media (max-width: 991.98px) {
    .input-group-prepend{
        width: 10%;
    }
}
