.message-container{
    /* background-color: white; */
    /* min-height: 600px; */
}
.content{
    border-radius: 2px;
    padding: 20px;
}
.message{
    padding: 12px;
    border: 1px solid rgb(235, 237, 240);
    border-radius: 2px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 8px rgb(85, 84, 84);
    color: rgb(97, 97, 97);
}
.email{
    font-weight: 500;
}
.fa-trash-alt{
    color: tomato;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 20px;
}
.delete , .view{
    width: 40px;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
}
.delete:focus, .view:focus {
    outline: none;
}
.fa-eye, .fa-eye-slash{
    color:rgb(0, 190, 0);
    transition: color 0.3s;
    font-size: 20px;
}

.delete:hover .fa-trash-alt {
    color: rgb(214, 4, 4);
}

.view:hover .fa-eye, .view:hover .fa-eye-slash{
    color:green;
}
.message_content{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 254, 254) ;
    box-shadow:rgba(0, 0, 0, 0.14) 0px 3px 4px 0px;
    color: #000;
}
.no-message{
    /* box-shadow:rgba(0, 0, 0, 0.14) 0px 3px 4px 0px;
    margin-top: 30px; */
    padding: 12px;
    border: 1px solid rgb(235, 237, 240);
    border-radius: 2px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 8px rgb(85, 84, 84);
    color: rgb(97, 97, 97);
}

.status-btn {
    background-color: #fff;
}